<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link class="rounded-full" rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@100;200;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.2/dist/flowbite.min.css" />
  <link href="./dist/output.css" rel="stylesheet">
</head>
<body>
<!-- menu bar -->

  <header class="text-gray-600 body-font bg-gradient-to-t from-blue-50 to-sky-50 sticky top-0 z-20 ">
    <div class="px-14 flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="w-10 h-auto" src="./img/logo.svg" alt="">
        <span class="ml-3 text-xl">Restorica</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-col md:flex-row items-center font-normal justify-center">
        <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer active:text-red-400" href="./index.html">Home</a>
        <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="aboutus.html">About Us</a>
        <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="./menu.html">Menu</a>
        <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="tablebook.html">Table Book</a>
      </nav>

    
    </div>
  </header>

<!-- hero section -->
  
<section class="bg-gradient-to-t from-pink-50 to-sky-50 ">
  <div class="container mx-auto px-14 flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="lg:w-1/2 md:w-1/2 w-full p-5 md:p-0 md:pl-10 flex flex-col md:items-center md:text-left">
        <img class="object-cover object-center w-[85%]" src="./img/signup.svg" alt="hero" />
      </div>
    <div class=" md:w-[40%] w-full  flex flex-col mb-10 md:mb-0 items-center justify-center bg-gradient-to-t from-sky-50 to-sky-50 rounded-xl h-auto py-5 shadow-cla-violate drop-shadow-md">
        <div class="relative w-[90%] mx-auto my-4">
            <input type="text" id="name" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-indigo-600 peer drop-shadow-lg" placeholder=" " />
            <label for="name" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gradient-to-t from-sky-50 to-sky-50 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Name</label>
        </div>

        <div class="relative w-[90%] mx-auto">
            <input type="email" id="email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-indigo-600 peer drop-shadow-md" placeholder=" " />
            <label for="email" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gradient-to-t from-sky-50 to-sky-50 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Email</label>
        </div>

        <div class="relative w-[90%] mx-auto my-4">
            <input type="text" id="number" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-indigo-600 peer drop-shadow-lg" placeholder=" " />
            <label for="number" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gradient-to-t from-sky-50 to-sky-50 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Phone Number</label>
        </div>

        <div class="relative w-[90%] mx-auto my-4">
            <input type="password" id="password" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-indigo-600 peer drop-shadow-lg" placeholder=" " />
            <label for="password" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gradient-to-t from-sky-50 to-sky-50 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Password</label>
        </div>

        <a href="login.html" class="inline-flex items-center  bg-gradient-to-r from-green-500 to-green-600 border-0 py-2 px-4 focus:outline-none hover:from-purple-500 hover:to-indigo-500 rounded-lg shadow-cla-pink text-base mt-4">Sign Up
            <i class="fa-solid fa-user-astronaut ml-3"></i>
          </a>
          <p class="mt-4 text-gray-600">Already registered ? 
              <a class="text-purple-600" href="login.html">Login Here</a>
          </p>
    </div>
  
  </div>
</section>




<!-- footer sections -->

<footer class="text-gray-600 body-font  bg-gradient-to-t from-gray-50 to-blue-50">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Food</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Drinks</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">vegetable's</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fast Food</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Pizza</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Burger</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Cake</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Chocolate</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">QuickLink</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Home</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">About</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Menu</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Table Menu</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
          <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
            <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
              <label for="footer-field" class="leading-7 text-sm text-gray-600">Email Us</label>
              <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex  bg-gradient-to-r from-green-500 to-teal-500 border-0 py-2 px-4 focus:outline-none hover:from-red-500 hover:to-pink-500 rounded-lg shadow-cla-pink text-base mt-4 md:mt-0 drop-shadow-lg cursor-pointer">Subscribe</button>
          </div>
          <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Give Your Feedback
            <br class="lg:block hidden">To improve Our services
          </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img class="w-10 h-auto" src="./img/logo.svg" alt="">
          <span class="ml-3 text-xl">Restorica</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2022 Rastorica —
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Mehbubur Rahman</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>

<script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
</body>
</html>