{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="rounded-full" rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@100;200;400;500;600;700&display=swap" rel="stylesheet">
  <link href="./dist/output.css" rel="stylesheet">
    <title>Taiwlijfie</title>
    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>
<body>
<!-- menu bar -->

<header class="text-gray-600 body-font bg-gradient-to-t from-blue-50 to-sky-50 sticky top-0 z-50 ">
  <div class="px-14 flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img class="w-10 h-auto" src="{% static './img/logo.svg' %}" alt="">
      <span class="ml-3 text-xl">Restorica</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-col md:flex-row items-center font-normal justify-center">
      <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer active:text-red-400" href="{% url 'index' %}">Home</a>
      <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="aboutus.html">About Us</a>
      <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="{% url 'menu' %}">Menu</a>
      <a class="mr-9 hover:text-red-900 hover:font-semibold font-josefin cursor-pointer" href="{% url 'table' %}">Table Book</a>
    </nav>
    <div class="flex flex-col md:flex-row justify-center items-center">
      <a href="{% url 'login' %}" class="inline-flex items-center bg-gradient-to-r from-green-500 to-teal-500 border-0 py-1 px-3 focus:outline-none hover:from-red-500 hover:to-pink-500 rounded-lg shadow-cla-pink text-base mt-4 md:mt-0 ">Login
        <i class="fa-solid fa-user-astronaut ml-3"></i>
      </a>
      <span class="relative ml-3 mt-8 md:mt-0 cursor-pointer">
       <img class="w-8 h-auto" src="{% static './img/cart.svg' %}" alt="">
        <p class="absolute -top-4 -right-4 bg-green-400 rounded-full w-5 h-5 flex justify-center items-center text-sm">2</p>
      </span>
    </div>
  
  </div>
</header>

<!-- hero section -->
  
<section class="bg-gradient-to-t from-pink-50 to-sky-50 ">
  <div class="container mx-auto px-14 flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="lg:w-1/2 md:w-1/2 w-full p-5 md:p-0 md:pr-10 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="font-Dancing font-[700] text-[36px] text-green-600">Book Table In Restorica</h1>
      <h1 class="title-font  mb-4 font-medium text-gray-900 text-[50px] leading-tight font-josefin">
        Book Your Table To<br> <strong class="underline text-green-500 font-josefin"> Enjoy </strong>delicious food</h1>
      <p class="mb-8 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at est at lorem fermentum luctus nec sed eros.. </p>
      <button class="inline-flex items-center bg-gradient-to-r from-green-500 to-teal-500 border-0 py-2 px-4 focus:outline-none hover:from-blue-500 hover:to-green-500 rounded-lg shadow-cla-pink text-base mt-4 md:mt-0 drop-shadow-lg cursor-pointer">Book Table
        <i class="fa-solid fa-bowl-food ml-3"></i>
      </button>
    </div>
    <div class="lg:w-1/2 md:w-1/2 w-full p-5 md:p-0 md:pl-10 flex flex-col md:items-center md:text-left">
      <img class="object-cover object-center w-[85%]" src="{% static './img/table-hero.svg' %}" alt="hero" />
    </div>
  </div>
</section>


<!-- Book table time -->

<section class="text-gray-600 body-font bg-gradient-to-t from-sky-50 to-pink-50">
  <div class="text-center mb-20">
    <h1 class="sm:text-3xl text-[35px] font-medium text-center title-font mb-4 font-Dancing text-rose-400">Book Table</h1>
    <p class="text-xl leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto font-josefin">Check Availability</p>
  </div>
  <div class="container mx-auto grid grid-cols-2 mb-4 md:mb-0">
     
      <div class=" bg-gray-100 rounded-xl  p-4 h-auto shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
        <p class="text-2xl mb-2  underline font-medium ml-10">Couple Table</p>
        <div class="flex space-x-7">
     
          <img class=" h-auto rounded-lg" src="{% static './img/table-1.jpg' %}" style="width: 224px;" alt="">
         <div class="block ">
          <div class="flex flex-col">
            <span class=" font-normal text-xl">Total Table</span>
            <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-amber-100 w-7 h-7 text-center ring ring-amber-300 ring-offset-2 ring-offset-amber-100">4</span>
           </div>
           <div class="flex flex-col">
             <span class=" font-normal text-xl">Total Seat</span>
             <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-amber-100 w-7 h-7 text-center ring ring-amber-300 ring-offset-2 ring-offset-amber-100">8</span>
           </div>
         
         </div>
         <div class="block">
          <div class="flex flex-col">
            <span class=" font-normal text-xl">Table Remaining</span>
            <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-amber-100 w-7 h-7 text-center ring ring-amber-300 ring-offset-2 ring-offset-amber-100">3</span>
           </div>
           <div class="flex flex-col">
             <span class=" font-normal text-xl">Seat Remaining</span>
             <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-amber-100 w-7 h-7 text-center ring ring-amber-300 ring-offset-2 ring-offset-amber-100">6</span>
           </div>
         
         </div>
       
         </div>
        
          
         <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-amber-300 to-amber-400 border-0 py-1 px-1 focus:outline-none hover:from-blue-500 hover:to-green-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
          <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
        </a>
       
      
      </div>
       
     
      <div class=" bg-gray-100 rounded-xl  p-4 h-auto shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
        <p class="text-2xl mb-2  underline font-medium ml-10">Single Table</p>
        <div class="flex space-x-7">
     
          <img class=" h-auto rounded-lg" src="{% static './img/table-2.png' %}" style="width: 224px;" alt="">
         <div class="block ">
          <div class="flex flex-col">
            <span class=" font-normal text-xl">Total Table</span>
            <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-green-100 w-7 h-7 text-center ring ring-green-300 ring-offset-2 ring-offset-green-100">2</span>
           </div>
           <div class="flex flex-col">
             <span class=" font-normal text-xl">Total Seat</span>
             <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-green-100 w-7 h-7 text-center ring ring-green-300 ring-offset-2 ring-offset-green-100">2</span>
           </div>
         
         </div>
         <div class="block">
          <div class="flex flex-col">
            <span class=" font-normal text-xl">Table Remaining</span>
            <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-green-100 w-7 h-7 text-center ring ring-green-300 ring-offset-2 ring-offset-green-100">1</span>
           </div>
           <div class="flex flex-col">
             <span class=" font-normal text-xl">Seat Remaining</span>
             <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-green-100 w-7 h-7 text-center ring ring-green-300 ring-offset-2 ring-offset-green-100">1</span>
           </div>
         
         </div>
       
         </div>
        
          
         <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-green-300 to-teal-400 border-0 py-1 px-1 focus:outline-none hover:from-yellow-500 hover:to-amber-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
          <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
        </a>
       
      
      </div>
  
  

  </div>

 
     
    <div class=" bg-gray-100 rounded-xl  p-4 h-auto shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
      <p class="text-2xl mb-2  underline font-medium ml-10">Corporate Table</p>
      <div class="flex space-x-7">
   
        <img class="w-56 h-auto rounded-lg" src="{% static './img/table-3.jpg' %}" alt="">
       <div class="block ">
        <div class="flex flex-col">
          <span class=" font-normal text-xl">Total Table</span>
          <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-purple-100 w-7 h-7 text-center ring ring-purple-300 ring-offset-2 ring-offset-purple-100">4</span>
         </div>
         <div class="flex flex-col">
           <span class=" font-normal text-xl">Total Seat</span>
           <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-purple-100 w-7 h-7 text-center ring ring-purple-300 ring-offset-2 ring-offset-purple-100">16</span>
         </div>
       
       </div>
       <div class="block">
        <div class="flex flex-col">
          <span class=" font-normal text-xl">Table Remaining</span>
          <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-purple-100 w-7 h-7 text-center ring ring-purple-300 ring-offset-2 ring-offset-purple-100">4</span>
         </div>
         <div class="flex flex-col">
           <span class=" font-normal text-xl">Seat Remaining</span>
           <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-purple-100 w-7 h-7 text-center ring ring-purple-300 ring-offset-2 ring-offset-purple-100">16</span>
         </div>
       
       </div>
     
       </div>
      
        
       <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-purple-400 to-violet-400 border-2 py-1 px-1 focus:outline-none hover:from-blue-500 hover:to-green-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
        <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
      </a>
     
    
    </div>
     
   
    <div class="md:w-[45%] w-full bg-gray-100 rounded-xl  p-4 h-full shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
      <p class="text-2xl mb-2  underline font-medium ml-10">Family Table</p>
      <div class="flex space-x-7">
   
        <img class="w-56 h-auto rounded-lg" src="{% static './img/table-4.jpg' %}" alt="">
       <div class="block ">
        <div class="flex flex-col">
          <span class=" font-normal text-xl">Total Table</span>
          <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-orange-100 w-7 h-7 text-center ring ring-orange-300 ring-offset-2 ring-offset-orange-100">3</span>
         </div>
         <div class="flex flex-col">
           <span class=" font-normal text-xl">Total Seat</span>
           <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-orange-100 w-7 h-7 text-center ring ring-orange-300 ring-offset-2 ring-offset-orange-100">18</span>
         </div>
       
       </div>
       <div class="block">
        <div class="flex flex-col">
          <span class=" font-normal text-xl">Table Remaining</span>
          <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-orange-100 w-7 h-7 text-center ring ring-orange-300 ring-offset-2 ring-offset-orange-100">2</span>
         </div>
         <div class="flex flex-col">
           <span class=" font-normal text-xl">Seat Remaining</span>
           <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-orange-100 w-7 h-7 text-center ring ring-orange-300 ring-offset-2 ring-offset-orange-100">12</span>
         </div>
       
       </div>
     
       </div>
      
        
       <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-orange-300 to-orange-400 border-0 py-1 px-1 focus:outline-none hover:from-yellow-500 hover:to-amber-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
        <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
      </a>
     
    
    </div>





<div class="container px-5 py-5 mx-auto flex justify-around flex-wrap mb-4 md:mb-0">
     
  <div class="md:w-[45%] w-full bg-gray-100 rounded-xl  p-4 h-full shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
    <p class="text-2xl mb-2  underline font-medium ml-10">Friends Table</p>
    <div class="flex space-x-7">
 
      <img class="w-56 h-auto rounded-lg" src="{% static './img/table-5.svg' %}" alt="">
     <div class="block ">
      <div class="flex flex-col">
        <span class=" font-normal text-xl">Total Table</span>
        <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-cyan-100 w-7 h-7 text-center ring ring-cyan-300 ring-offset-2 ring-offset-cyan-100">4</span>
       </div>
       <div class="flex flex-col">
         <span class=" font-normal text-xl">Total Seat</span>
         <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-cyan-100 w-7 h-7 text-center ring ring-cyan-300 ring-offset-2 ring-offset-cyan-100">20</span>
       </div>
     
     </div>
     <div class="block">
      <div class="flex flex-col">
        <span class=" font-normal text-xl">Table Remaining</span>
        <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-cyan-100 w-7 h-7 text-center ring ring-cyan-300 ring-offset-2 ring-offset-cyan-100">3</span>
       </div>
       <div class="flex flex-col">
         <span class=" font-normal text-xl">Seat Remaining</span>
         <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-cyan-100 w-7 h-7 text-center ring ring-cyan-300 ring-offset-2 ring-offset-cyan-100">15</span>
       </div>
     
     </div>
   
     </div>
    
      
     <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-cyan-400 to-violet-400 border-2 py-1 px-1 focus:outline-none hover:from-amber-500 hover:to-orange-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
      <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
    </a>
   
  
  </div>
   
 
  <div class="md:w-[45%] w-full bg-gray-100 rounded-xl  p-4 h-full shadow-cla-violate drop-shadow-md z-10 mb-5 md:mb-0">
    <p class="text-2xl mb-2  underline font-medium ml-10">Normal Table</p>
    <div class="flex space-x-7">
 
      <img class="w-56 h-auto rounded-lg" src="{% static './img/table-6.svg' %}" alt="">
     <div class="block ">
      <div class="flex flex-col">
        <span class=" font-normal text-xl">Total Table</span>
        <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-red-100 w-7 h-7 text-center ring ring-red-300 ring-offset-2 ring-offset-red-100">3</span>
       </div>
       <div class="flex flex-col">
         <span class=" font-normal text-xl">Total Seat</span>
         <span class="my-3 ml-8 font-normal items-center text-md  rounded-full bg-red-100 w-7 h-7 text-center ring ring-red-300 ring-offset-2 ring-offset-red-100">12</span>
       </div>
     
     </div>
     <div class="block">
      <div class="flex flex-col">
        <span class=" font-normal text-xl">Table Remaining</span>
        <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-red-100 w-7 h-7 text-center ring ring-red-300 ring-offset-2 ring-offset-red-100">1</span>
       </div>
       <div class="flex flex-col">
         <span class=" font-normal text-xl">Seat Remaining</span>
         <span class="my-3 ml-12 font-normal items-center text-md  rounded-full bg-red-100 w-7 h-7 text-center ring ring-red-300 ring-offset-2 ring-offset-red-100">4</span>
       </div>
     
     </div>
   
     </div>
    
      
     <a href="selecttable.html" class="w-36 flex justify-center items-center ml-10 mt-5 bg-gradient-to-r from-red-300 to-red-400 border-0 py-1 px-1 focus:outline-none hover:from-yellow-500 hover:to-amber-500 rounded-lg shadow-cla-pink text-base  drop-shadow-lg cursor-pointer">Book Table
      <img class="w-8 h-8" src="{% static './img/icons/book.svg' %}" alt="">
    </a>
   
  
  </div>



</div>

</section>





<!-- footer sections -->

<footer class="text-gray-600 body-font  bg-gradient-to-t from-gray-50 to-blue-50">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Food</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Drinks</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">vegetable's</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fast Food</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Pizza</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Burger</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Cake</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Chocolate</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">QuickLink</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">Home</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">About</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Menu</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Table Menu</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
          <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
            <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
              <label for="footer-field" class="leading-7 text-sm text-gray-600">Email Us</label>
              <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex  bg-gradient-to-r from-green-500 to-teal-500 border-0 py-2 px-4 focus:outline-none hover:from-red-500 hover:to-pink-500 rounded-lg shadow-cla-pink text-base mt-4 md:mt-0 drop-shadow-lg cursor-pointer">Subscribe</button>
          </div>
          <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Give Your Feedback
            <br class="lg:block hidden">To improve Our services
          </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img class="w-10 h-auto" src="./img/logo.svg" alt="">
          <span class="ml-3 text-xl">Restorica</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2022 Rastorica —
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Mehbubur Rahman</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500" href="facebook.com">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500 cursor-pointer hover:text-rose-500  href="facebook.com"">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>

<script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
{% block content%}
{%endblock%}
</body>
</html>